*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
}
.containerAll{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 40px 0px;
}
.containerAll-upper{
    display: flex;
    justify-content: space-between;
}
.info{
    max-width: 400px;
}
.info__tittle{
    font-size: 22px;
}
.info__tittle-content{
    font-size: 14px;
    color: whitesmoke;
    margin-top: 20px;
}
.redes{
    max-width: 400px;
}
.redes__tittle{
    font-size: 22px;
}
.redes__line{
    margin-top: 20px;
    display: flex;
}
.redes__line-link i{
    color: whitesmoke;
    font-size: 20px;
}
.redes__line-label{
    margin-top: 2px;
    margin-left: 18px;
    color: whitesmoke;
}
.extra{
    max-width: 400px;
}
.extra__tittle{
    font-size: 22px;
}
.extra__line{
    margin-top: 20px;
    display: flex;        /*ojo aca ue se sale un icono de la fila*/
}
.extra__line i{
    font-size: 20px
}
.extra__line-label{
    margin-left: 20px;
    max-width: 150px;
    margin-top: 2px;
}
.containerAll-bottom{
    width: 100%;
    background: #444444;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.copyright{
    text-align: center;
    color: whitesmoke;
}
.copyright__link{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.copyright__link i{
    color: whitesmoke;
}

@media screen and (max-width: 1100px){
    .containerAll-upper{
        flex-wrap: wrap;
    }
    .redes{
        margin-top: 30px;
    }
    .extra{
        margin-top: 30px;
    }
}