*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
}
.containerAll{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
}
.containerAll-upper{
    display: flex;
    justify-content: space-between;
}
.info{
    max-width: 25em;
}
.info__tittle{
    font-size: 1.2em;
}
.info__tittle-content{
    font-size: 1em;
    color: whitesmoke;
    margin-top: 0.8em;
    margin-right: 1.4em;
}
.redes{
    max-width: 25em;
}
.redes__tittle{
    font-size: 1.2em;
}
.redes__line{
    margin-top: .8em;
    display: flex;;
}
.redes__line-link i{
    color: whitesmoke;
    width: 1.25em;
    height: 1.25em;
}
.redes__line-label{
    margin-top: 10px;
    margin-left: 10px;
}
.extra{
    max-width: 400px;
}
.extra__tittle{
    font-size: 18px;
}
.extra__line{
    margin-top: 20px;
    display: block;
}
.extra__line i{
    width: 36px;
    height: 36px;
}
.extra__line-label{
    margin-left: 20px;
    max-width: 170px;
    margin-top: 10px;
}
.containerAll-bottom{
    width: 100%;
    background: #444444;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.copyright{
    text-align: center;
    color: whitesmoke;
}
.copyright__link{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
.copyright__link i{
    color: whitesmoke;
}